/SparkSteamingFromKafka/project/target/streams/compile/managedClasspath/$global/streams/export
/SparkSteamingFromKafka/project/
/SparkSteamingFromKafka/target/
/registry
/Kafka/data
/Spark/spark-1.4.0-bin-hadoop2.6.tgz
/Spark/jars
/coreos-vagrant/Vagrantfile.bk
/Hadoop/data
/image_backups
/image_backup
/Hadoop/data/namenode/dfs/namenode/current/VERSION
